<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
    <link  type="text/css" href="public/css/styles.css"></link>
</head>

<body>
    <%- include('../partials/header.ejs');  %>
    <table>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th></th>
        </tr>
        <% for (el of boards) { %>
            <tr>
                <td>
                    <%= el.name %>
                </td>
                <td>
                    <%= el.id%>
                </td>
                <td>
                    <a href="/boards/info/<%=el.id%>">More</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>

</html>