<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <%- include('../partials/header.ejs');  %>
    <h2><%= user[0].username%></h2>
    <form method="post">
        <%for(el of domains){%>
            <label>
                <input 
                    type="checkbox" 
                    name="domains[]" 
                    value='{"domain_id":"<%=el.id%>", "domain_name": "<%=el.name%>"}'
                    <%if (userDomains.filter(elem=>(elem.domain_id == el.id)).length>0){%>
                        checked
                    <%}%>
                >
                <%=el.name%>
            </label>
            <br>
        <%}%>
        <input type="button" onclick="location.href='/users/all';" value="Cancel" />
        <button type="submit">Save</button>
    </form>
</body>

</html>