<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <%- include('../partials/header.ejs');  %>

    <div>
        <b>UserName:</b>
        <%= info.username %>
    </div>
    <div>
        <b>
            ID:
        </b>
        <%= info.id%>
    </div>
    <div>
        <b>
            Email:
        </b>
        <%= info.email%>
    </div>
    <div>
        <b>
            Rights:
        </b>
        <%if (info.rights==0) {%>
            Global
        <%} else {%>
            Domain
        <%}%>
    </div>
    <%if (info.rights!=0){%>
        <div>
            <a href="/users/edit/<%=info.id%>">Edit domain list</a>
        </div>
    <%}%>

    <button onclick="if(confirm('Are you sure you want to delete it?')){location.href = '/boards/all'}">
        Delete domain
    </button>
</body>

</html>